@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 20px;
  height: 120px;
  margin-bottom: 1rem;
 }

 .img {
  max-height: 380px;
}

/* .nav {
  height: 10vh;
  background-color: #1C1D23;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
} */

/* .btn {
  align-content: flex-start;
  font-size: 3rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;
  padding: 16px 32px;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 1;
  border-radius: 8px;
  background-image: linear-gradient(45deg, #2378c9 10%, #133079 90%);
  background-position: 90% 0;
  background-size: 200% 200%;
  box-shadow: 0 2px 8px -1px #09113f;
  transition: all 0.5s ease;
} */

/* .btn:hover {
  box-shadow: 0 0 px 10px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
.imgLogo {
  margin-left: 22%;
  height: 70px;
} */

/* .container2 {
  border-radius: 50px 50px 30px 15px;
  box-shadow: 3px 3px 15px 5px #6FCF97;
  display: flex;
  align-items: center; 
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 50%; 
  margin: 0 auto; 
  margin-top: 28px; 
} */

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1100px;
  margin: 0px auto;
  margin-bottom: 2.5rem;
  
}

.containerInfo1 {
  width: 0%;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.containerInfo2 {
  width: 0%;
  margin-top: -5rem;
  margin-left: -15rem ;
}

.containerInfo3 {
  width: 35%;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

.btnCreatePokemon{
  border-radius: 1.5rem;
  padding: 0.8rem 1.8rem;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  background-color: #272724;
  cursor: pointer;
  transition: all 300ms;
  text-decoration: none;
}

.btnCreatePokemon:hover {
  background-color: #1a1a18;
  color: rgb(168, 167, 165)
}








