.nav {
    background-color: #303030;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 1.2rem;
}

.logo {
    padding: 0.5rem;
    height: 75px;
}

.btnCreatePokemon{
    border-radius: 1.5rem;
    padding: 0.6rem 1.4rem;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    background-color: #505050;
    cursor: pointer;
    transition: all 300ms;
    text-decoration: none;
    width: 12rem;
}

.btnCreatePokemon:hover {
    background-color: #404040;
    color: rgb(168, 167, 165)
}


