.inputSearch {
    border-radius: 0.8rem 0 0 0.8rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
    width: 350px;
    font-size: 0.9rem;
    border: 2px solid rgb(255, 255, 255);
    height: 30px;
}

.btnSearch {
    border-radius: 0 0.8rem 0.8rem 0;
    /* padding: 0.2rem; */
    /* color: white; */
    /* font-size: 0.9rem; */
    /* font-weight: bold; */
    border: 2px solid rgb(80, 78, 78);
    background-color: rgb(80, 78, 78);
    cursor: pointer;
    transition: all 300ms;
    height: 30px;
}

.btnSearch:hover {
    background-color: rgb(44, 43, 43);
    color: rgb(168, 167, 165)
}

.img {
    max-width: 25px;
    padding: 4px;
}

.div {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}