.pagination{
    margin-top: 1rem;
    padding: 0.5rem 0px;
}

.pagination button{
    cursor:pointer;
    background-color: rgb(44, 42, 42);
    color:white;
    border-radius: 30px;
    padding: 10px 14px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
button[disabled]{
    background-color: rgb(61, 57, 57);
    cursor:no-drop
}

.pagination input{
    width: 20px;
    border-radius: 5px;
    border:none;
    font-size: 1rem;
    margin-right: 0.5rem;
    text-align: center;
    background-color: #2b5eaf;
    color:white
}

.pagination span{
    font-size: 1.5rem;
}